/* ==========================================================================
   ACCESSIBILITY
   ========================================================================== */





/* No Outline
   ========================================================================== */

/*
 * Use this class to hide outline until Tab key was pressed.
 */

.u-no-outline
  
  a,
  .c-pure-button,
  .c-pure-form-control--checkbox .c-pure-form-control__toggle,
  .c-pure-form-control--radio .c-pure-form-control__toggle,
  .c-menu__item,
  .c-pure-switcher__toggle-container
    
    &:focus
      outline none !important

    &::after
      visibility hidden !important