/* ==========================================================================
   FORM
   ========================================================================== */

/*
 * Base form styles (for <input>, <textarea>, etc).
 */



/*
 * Truncate text to the width of <input> field using ellipsis.
 */

input[placeholder]
  text-overflow ellipsis


/*
 * Truncate text to the width of field using ellipsis.
 */

input,
textarea
  text-overflow ellipsis
  overflow hidden


/*
 * Prevent break input line in Safari.
 */
 
input
  word-break normal


/*
 * Let the user resize only the height of <textarea> element.
 */

textarea
  resize vertical
