/* ==========================================================================
   TYPE
   ========================================================================== */

/*
 * Default styles for text elements: headings, link, phrase elements, etc.
 */



/*
 * Apply default font-size for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * csswizardry.com/2016/02/managing-typography-on-large-apps).
 */

h1
  font-size $h1-font-size

h2
  font-size $h2-font-size

h3
  font-size $h3-font-size

h4
  font-size $h4-font-size

h5
  font-size $h5-font-size

h6
  font-size $h6-font-size


a
  text-decoration none


pre,
code,
kbd,
samp
  font-family $font-family-monospace /* [1] */


/*
 * Make size of small text elements always be slightly smaller than surrounding
 * text.
 */

sup,
sub,
small,
figcaption
  font-size (1em / $base-ratio)
