// =============================================================================
// DIVIDER
// =============================================================================



$divider-color = $color-primary-soft