/* ==========================================================================
   BUTTON
   ========================================================================== */



button
  cursor default


a
  &[type="button"],
  &[type="reset"],
  &[type="submit"]
    cursor pointer
