/* ==========================================================================
   PAGE
   ========================================================================== */



body
  font-weight $font-weight
  letter-spacing $letter-spacing
  word-spacing $word-spacing
  background $body-bg-color
