/* ==========================================================================
   PURE ASTERISK
   ========================================================================== */



.c-pure-asterisk
  display inline-block
  font-weight 600
  color $color-accent-negative
  transition $global-duration