/* ==========================================================================
   PURE ELEMENTS
   ========================================================================== */

/*
 * Styles for Pure Elements wrappers.
 */



pure-button
  display inline-flex


pure-form-control
  display block


pure-switcher
  display inline-flex


pure-select
  width 100%