/* ==========================================================================
   CONTROLS
   ========================================================================== */



.o-controls
  display inline-flex


  > *:not(:last-child)
    margin-right $unit-sm