// =============================================================================
// ANIMATION
// =============================================================================



// 1. Softer version of `$ease-out-back` from Breeze.css.

$ease-out-back-soft = cubic-bezier(0.18, 0.89, 0.33, 1.14) // [1]