// =============================================================================
// FONT
// =============================================================================





// Font Stacks
// =============================================================================

$source-sans = 'Source Sans Pro', sans-serif





// Font Settings
// =============================================================================

$font-family-primary   = $source-sans
$font-weight           = 400

$line-height           = round($base-ratio ** 2.5, 2)

$letter-spacing        = .01rem
$letter-spacing-lg     = .03rem
$word-spacing          = 0
