/* ==========================================================================
   BADGE
   ========================================================================== */
   


$badge-padding-v = 0
$badge-padding-h = $unit-em-3s


_badge-theme($color)
  color $color
  border-color $color


.c-badge
  display inline-flex
  align-items center
  max-width 100%
  padding $badge-padding-v $badge-padding-h
  border .1rem solid
  border-radius 999rem
  font-size $font-size-xs
  font-weight 600
  font-style normal
  letter-spacing $letter-spacing
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  text-decoration none
  text-transform uppercase
  text-shadow none
  background transparent
  box-shadow none
  
  _badge-theme($color-accent)





/* Themes
   ========================================================================== */

.c-badge
  
  &--success
    _badge-theme($color-accent-positive-dark)
    

  &--warning
    _badge-theme($color-accent-negative-dark)
  

  &--neutral
    _badge-theme($color-primary-dark)