// =============================================================================
// OTHER
// =============================================================================



// 1. Transition duration for most of animations.
// 2. Transition duration for animations that require faster enter animation
//    phase and slower leave phase (e.g. menu lists).

$global-duration     = .2s // [1]
$global-duration-lg  = .3s // [1]
$global-duration-xl  = .4s // [1]

$global-duration-in  = .08s // [2]
$global-duration-out = .2s // [2]


$global-radius-sm    = .2rem
$global-radius       = .4rem
$global-radius-lg    = .8rem
$global-radius-huge  = $unit-3x





// Shadow
// =============================================================================

// Shadow colors used in backdrops (e.g. in Modal Window), `box-shadow`, etc.

$shadow-color-black = $color-primary-black
$shadow-color-white = $color-primary-white





// Box Shadow
// =============================================================================

// Model (Position & Size)           
//                                   x       y       blur
$box-shadow-model-level10          = 0.0rem  0.2rem  0.4rem

$box-shadow-model-level20          = 0.0rem  0.7rem  2.0rem
$box-shadow-model-level20-straight = 0.0rem  0.0rem  2.0rem
$box-shadow-model-level20-hover    = 0.0rem  0.8rem  2.2rem

$box-shadow-model-level30          = 0.0rem  2.5rem  5.0rem
$box-shadow-model-level30-straight = 0.0rem  0.0rem  5.0rem


// Unify most common `box-shadow` colors.

$box-shadow-color-black            = $shadow-color-black
$box-shadow-color-white            = $shadow-color-white





// Z-Index Master List
// =============================================================================

$z-index-overlay = 990





// Outline
// =============================================================================

$outline-width = .2rem
$outline-color = $color-accent-bright
$outline       = $outline-width solid $outline-color