// =============================================================================
// ACCESSIBILITY
// =============================================================================



outline-styles()
  outline none // TODO temporary