/* ==========================================================================
   PURE DROPDOWN
   ========================================================================== */



$dropdown-y-position              = calc(100% + .1rem)
$dropdown-x-position              = .1rem

$dropdown-menu-appear-duration    = $global-duration
$dropdown-menu-disappear-duration = $global-duration-lg

$dropdown-item-padding-h          = $unit-sm
$dropdown-item-padding-v          = $unit-5s


.c-pure-dropdown
  visibility hidden
  

  &__backdrop
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    z-index $z-index-dropdown
    background rgba($color-primary-dark, .04)
    opacity 0
    transition $global-duration
    transition-timing-function ease-in-out
  

  &__menu
    position absolute
    z-index $z-index-dropdown
    width $unit-5x * 4
    max-height $unit-8x * 3
    overflow-y auto
    overflow-x visible
    padding $unit-4s 0
    border-radius $global-radius
    background $card-bg-color
    box-shadow $box-shadow-model-level10 rgba(mix($color-accent, $box-shadow-color-black, 25%), .15)
    animation dropdown-menu-disappear $dropdown-menu-appear-duration
    animation-timing-function $ease-in-quad
    
    
    &--below
      top $dropdown-y-position
    
    &--above
      bottom $dropdown-y-position
    
    &--before
      right $dropdown-x-position
      
    &--after
      left $dropdown-x-position


  /*
   * Opened
   */
     
  &--opened
    visibility visible
    transition-delay 0
    

    .c-pure-dropdown__backdrop
      opacity 1
      

    .c-pure-dropdown__menu
      animation dropdown-menu-appear $dropdown-menu-disappear-duration
      animation-timing-function $ease-out-back


@keyframes dropdown-menu-appear
  0%
    opacity 0
    transform translateY($unit-3x) scale(.94)
    
  100%
    opacity 1
    transform translateY(0) scale(1)


@keyframes dropdown-menu-disappear
  0%
    opacity 1
    transform translateY(0) scale(1)
    
  100%
    opacity 0
    transform translateY($unit-3x) scale(.96)





/* Dropdown Item
   ========================================================================== */

.c-pure-dropdown-item
  padding $dropdown-item-padding-v $dropdown-item-padding-h
  color $body-color
  user-select none
  cursor default
  transition opacity $global-duration
  
    
  &--disabled
    color rgba(@color, .38)
  

  &--focused
    background $color-accent-washed





/* Dropdown Indide Select
   ========================================================================== */

.c-pure-select
  
  .c-pure-dropdown__menu
    left $dropdown-x-position
    right @left
    width auto
  




/* Search Input
   ========================================================================== */

$dropdown-search-color = $color-primary


.c-pure-dropdown__prefix-container
  position relative
  margin 0 $dropdown-item-padding-h $unit-2s
  
  &::before
    style-input-icon('search')
    left -.1rem
    color $dropdown-search-color
  

.c-pure-dropdown
  
  .c-pure-dropdown__prefix-container
    
    /*
     * 1. Made to match icon color because it's lighter due to different rendering.
     */
    .c-pure-input
      height $input-sm-height
      padding 0 0 0 $unit-lg
      background transparent 
      border-bottom .15rem solid rgba($dropdown-search-color, .61) /* [1] */
      border-radius 0
      
      &:hover,
      &:focus
        background @background
        
      &:focus
        border-bottom-color $color-accent-bright





/* No Items Panel
   ========================================================================== */

.c-pure-dropdown__suffix-container
  padding $dropdown-item-padding-v $dropdown-item-padding-h
  color $body-color-light