/* ==========================================================================
   MENU
   ========================================================================== */



$menu-item-border-radius    = $global-radius
$menu-item-transform-active = scale(.98, .95)


.c-menu
  flex-shrink 0
  display flex
  flex-direction column
  padding 0
  margin 0
  list-style none


  &__item
    outline-styles(0, $menu-item-border-radius * 1.5)
    
    display block
    padding $unit-4s $unit-lg
    border-radius $menu-item-border-radius
    white-space nowrap
    // overflow hidden
    font-weight normal
    color $body-color
    cursor pointer
    user-select none
    transition $global-duration-out

    &:hover:not(.c-menu__item--active),
    &:focus:not(.c-menu__item--active)
      color @color
      background $color-accent-washed
      transition $global-duration-in

    &:active:not(.c-menu__item--disabled)
      transform $menu-item-transform-active
      transition $global-duration-in
    

    &--disabled
      background transparent
      color $body-color-light
      cursor default
      
      &:hover:not(.c-menu__item--active),
      &:focus:not(.c-menu__item--active)
        color @color
        background @background
      

    &--active
      background $color-accent
      color $body-color-inverse
      transition $global-duration-in
      animation menu-item-select $global-duration
      
      &:hover
        color @color


    .c-icon
      margin-left -.2rem
      margin-right $unit-3s
      margin-bottom .2rem
      opacity (1 / $golden)
      transition $global-duration // TODO
  

  &__item-text
    overflow hidden
    transition $global-duration
    transition-property opacity, visibility


@keyframes menu-item-select
  0%
    transform $menu-item-transform-active
    
  100%
    transform none





/* Shrank
   ========================================================================== */

.c-menu--shrank

  .c-menu__item
    // margin-bottom $unit-6s
    padding-left $unit-sm
    padding-right @padding-left
    

    .c-icon
      opacity .75
    

    &--active
      
      .c-icon
        font-size $unit-em-xl
        opacity .9
    

  .c-menu__item-text
    opacity 0
    visibility hidden
    pointer-events none