/* ==========================================================================
   PURE REQUIRED MARK
   ========================================================================== */



.c-pure-required-mark
  display inline-block
  font-weight 600
  color $color-accent-negative
  transition $global-duration