/* ==========================================================================
   PURE SWITCHER
   ========================================================================== */



$switcher-toggle-container-height = $unit-xl
$switcher-toggle-container-width  = $switcher-toggle-container-height * ($base-ratio ** 3)
$switcher-border-width            = .2rem
$switcher-toggle-height           = $switcher-toggle-container-height - $switcher-border-width * 2
$switcher-toggle-width            = $switcher-toggle-height
$switcher-transition-duration     = $global-duration


.c-pure-switcher
  display inline-flex
  align-items center
  user-select none
  

  &__input
    hidden-visually()

  



/* Toggle
   ========================================================================== */

.c-pure-switcher

  &__toggle-container
    outline-basic-styles(0, 999rem)
    
    position relative
    width $switcher-toggle-container-width
    height $switcher-toggle-container-height
    border-radius (@height / 2)
    margin-right $unit-xs
    background $input-toggle-bg-color
    transition $switcher-transition-duration
    will-change background
  
  &__input:focus
    
    & + .c-pure-switcher__toggle-container
      outline-focus-styles()
  

  &__toggle
    position absolute
    left $switcher-border-width
    top $switcher-border-width
    bottom $switcher-border-width
    top $switcher-transition-duration
    width $switcher-toggle-width
    height $switcher-toggle-height
    border-radius 50%
    background $card-bg-color
    box-shadow $box-shadow-model-level10 rgba($box-shadow-color-black, .19)
    transition $switcher-transition-duration
    transition-timing-function $ease-out-back-soft
    

  &--checked
    
    .c-pure-switcher__toggle-container
      background $color-accent
      

    .c-pure-switcher__toggle
      left auto
      transform translateX($switcher-toggle-container-width - $switcher-toggle-width - $switcher-border-width)





/* Label Content
   ========================================================================== */

.c-pure-switcher__label-content
  color $input-label-color
  transition color $switcher-transition-duration





/* Disabled
   ========================================================================== */

.c-pure-switcher--disabled
  
  .c-pure-switcher__toggle
    background $color-primary-light
    box-shadow 0 .1rem .2rem rgba($box-shadow-color-black, .19)
  

  .c-pure-switcher__label-content
    color $input-disabled-label-color
    

  &.c-pure-switcher--checked
    
    .c-pure-switcher__toggle-container
      background mix($input-toggle-bg-color, $color-accent)
