// =============================================================================
// BODY
// =============================================================================



$body-color-strong  = $color-primary-black
$body-color         = $color-primary-dark
$body-color-light   = $color-primary
$body-color-inverse = $color-primary-white

$body-bg-color      = $color-primary-light