// =============================================================================
// CARD
// =============================================================================



$card-bg-color           = $color-primary-white
$card-controls-bg-color  = $color-primary-light