// =============================================================================
// MODAL
// =============================================================================



$modal-bg-color   = $card-bg-color
$modal-box-shadow = $box-shadow-model-level30 rgba($box-shadow-color-black, .11)





// Container
// =============================================================================

$modal-container-box-shadow = $box-shadow-model-level10 rgba($box-shadow-color-black, .043)





// Footer
// =============================================================================

$modal-footer-bg-color = $card-controls-bg-color