/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */





/* Color
   ========================================================================== */

/*
 * Primary
 */
 
.u-color-primary-black
  color $color-primary-black !important
  
.u-color-primary-darken
  color $color-primary-darken !important
  
.u-color-primary-dark
  color $color-primary-dark !important

.u-color-primary
  color $color-primary !important

.u-color-primary-soft
  color $color-primary-soft !important

.u-color-primary-light
  color $color-primary-light !important

.u-color-primary-white
  color $color-primary-white !important


/*
 * Accent
 */

.u-color-accent
  color $color-accent !important

.u-color-accent-bright
  color $color-accent-bright !important

.u-color-accent-washed
  color $color-accent-washed !important


/*
 * Accent Positive
 */

.u-color-accent-positive
  color $color-accent-positive !important

.u-color-accent-positive-bright
  color $color-accent-positive-bright !important

.u-color-accent-positive-washed
  color $color-accent-positive-washed !important


/*
 * Accent Negative
 */

.u-color-accent-negative
  color $color-accent-negative !important

.u-color-accent-negative-bright
  color $color-accent-negative-bright !important

.u-color-accent-negative-washed
  color $color-accent-negative-washed !important