/* ==========================================================================
   USER PIC
   ========================================================================== */



.c-user-pic
  flex-shrink 0
  width $unit-4x
  height @width
  min-width @width
  border-radius 50%
