// =============================================================================
// TYPOGRAPHY
// =============================================================================





// Style Headings
// =============================================================================

_set-heading-margin()
  margin-bottom .5em


style-h1()
  _set-heading-margin()

  font-size $font-size-xl
  font-weight 600
  color $body-color-strong


style-h2()
  _set-heading-margin()

  font-size $font-size
  font-weight 600
  color $body-color-strong


style-h3()
  _set-heading-margin()

  font-size $font-size-sm
  font-weight 600
  letter-spacing $letter-spacing-lg
  text-transform uppercase
  color $body-color-light